Source: ros-hydro-shared-serial
Section: misc
Priority: extra
Maintainer: Wouter Caarls <w.caarls@tudelft.nl>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-roscpp
Homepage: http://ros.org/wiki/shared_serial
Standards-Version: 3.9.2

Package: ros-hydro-shared-serial
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-roscpp
Description: Shared serial port with locking functionality
